.header{
  background: black;
  margin: 0;
  padding: 0;
  img{
    width: 250px;
    height: auto;
    padding: 1em;
  }
}
.instructions{
  p{
    margin:1em 0 0 0;
    font-size: 20px;
  }
}
.galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 80%;
  margin: 2em auto;
  .item {
    max-width: 200px;
    margin: 12px auto;
    img{
      border-radius: 0.5em;
    }
  }

}

.grid-button {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr ;
  grid-column-gap: 5px;
  padding: 1em 1em 0 1em;
  width: 75%;
  margin: 0 auto;
}

.k-autocomplete {
  width: 100% !important;
}